<div class="container my-5">

    <div class="grid grid-cols-12 gap-3">

        <div class="col-span-3 lg:col-span-1">

            <div class="w-[3rem] h-[3rem]">

                <img 
                class="w-full h-full rounded-full"
                src="https://img.faballey.com/images/Product/ILS00539Z/d3.jpg" 
                alt="">

            </div>

        </div>

        <div class="col-span-6 lg:col-span-9">

            <div class="space-y-5">
                <div>
                    <p class="font-semibold text-lg">codewithronney</p>
                    <p class="opacity-70">December 29,2023</p>
                </div>

                <div>
                    <app-star-rating></app-star-rating>
                </div>

                <p>
                    Nice Product, I like white shirt
                </p>

            </div>

        </div>

    </div>

</div>