<div class="bg-black text-white mt-10 text-center px-5 lg:px-20">

    <div class="container">

        <div class="py-3 flex justify-between">

            <div class="px-4">

                <h2 class="px-5 text-lg font-semibold text-gray-500">Company</h2>
                <p class="mb-2">Company</p>
                <p class="mb-2">About</p>
                <p class="mb-2">Blogs</p>
                <p class="mb-2">Jobs</p>
                <p class="mb-2">Press</p>



            </div>


            <div class="px-4">

                <h2 class="px-5 text-lg font-semibold text-gray-500">Solutions</h2>
                <p class="mb-2">Marketing</p>
                <p class="mb-2">Analytics</p>
                <p class="mb-2">Commerce</p>
                <p class="mb-2">Insights</p>
                <p class="mb-2">Support</p>



            </div>

            <div class="px-4">

                <h2 class="px-5 text-lg font-semibold text-gray-500">Documentation</h2>
                <p class="mb-2">Guides</p>
                <p class="mb-2">API Status</p>
                <p class="mb-2">Newsroom</p>
                <p class="mb-2">Marketing Services</p>
                <p class="mb-2">Track your parcel</p>
            </div>

            <div class="px-4">
                <h2 class="px-5 text-lg font-semibold text-gray-500">Legal</h2>
                <p class="mb-2">Claim</p>
                <p class="mb-2">Privacy</p>
                <p class="mb-2">Terms</p>
                <p class="mb-2">Partners</p>
                <p class="mb-2">Delivery Information</p>

            </div>

        
        </div>
        <div class="pt-10 text-center text-gray-600">
            <p> 2023 All Rights reserved</p>
            <p>Made with love by me</p>
        </div>
    </div>

</div>