
<div class="">
    <div class="">
        <app-main-carousel></app-main-carousel>
    </div>

    <div class="">
        <app-product-slider [title]="'Mens Jeans'"  [products]="menJeans"/>
        <app-product-slider [title]="'Women Gowns'" [products]="womenGowns" />
        <app-product-slider [title]="'Lehanga  Chowli'" [products]="lehengaChowli" />
        <app-product-slider [title]="'Mens Kurta'" [products]="mensKurta"/>
        <app-product-slider [title]="'Shoes'" [products]="mensShoes"/>
    </div>
</div>